:root {
  /* Colores default*/
  --color-background: #f7f7f7;
  --color-button-card: rgba(255, 255, 255, 0.18);
  --color-shadow-button-card: 2px solid rgb(255, 255, 255, 0.2);
  --color-surface: #ffffff;
  --color-surface-secundary: #f7f8fa;
  --color-primary: #2563eb;
  --color-select: #1e56cd;
  --color-white-secundary: #fdf8f2;
  --color-text: #1f2937;
  --color-text-readonly: #495668;
  --color-text-secondary: #3c3c3c;
  --color-border: #ececec;
  --color-success: #5cb85c;
  --color-search: #111827;
  --color-card-secundary: #022a64;
  --color-disable: #5b6273;
  --color-text-search: #f9fafb;
  --color-text-card: #f9fafb;
  --color-background-success: #ebffeb;

  /*search box*/
  --color-search-box: #ffffff;
  --color-serch-box-hover: #f1f5f9;
  --color-search-box-border: #e5e7eb;
  --color-button-search: #0c0c0c;
  --color-button-search-disabled: #04040482;

  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);
}
