@import "./themes/light.css";
/* @import "./themes/dark.css"; */
/* @import "./themes/blue.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  font-family: "Inter", sans-serif !important;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
}
